/*
Base (mini framework) styles, applicable across multiple projects
*/

/* Typography & social icons font */
@import 'normalize';
@import 'typography';

/* General element styling */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    color: $dark-grey;
    font-family: 'Gotham', 'Trebuchet MS', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

// Running through all defined $font-sizes, including default media query font sizes
/* Font sizes & media query font sizes */
@each $breakpoint, $px in $mq-breakpoints {
    @include mq($until: $breakpoint) {
        @each $key, $value in $font-sizes {
            @if map-has-key($value, $breakpoint) {
                $font-option: map-get($value, $breakpoint);
                #{$key} { font-size: px2rem($font-option); }
            }
        }
    }
}

a {
    color: $secondary;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/* Box Sizing & Padding Framework */
// generic wrapper div, which just determines display of child elements (no padding)
.wrapper {
    @include yep(flexbox, flexwrap) {
        display: flex;
        flex-wrap: wrap;
    }
}

// wrapper div with built-in padding; for most layouts, this is *half* of the expected padding between sections
.container {
    @extend .wrapper;
    $currentpx: 0;
    @each $breakpoint, $px in $mq-breakpoints {
        @if $px == null {
            padding: px2rem(map-get($gutters, $breakpoint));
            $currentpx: map-get($gutters, $breakpoint);
        } @else if $currentpx != map-get($gutters, $breakpoint) {
            @include mq($until: $breakpoint) {
                padding: px2rem(map-get($gutters, $breakpoint));
            }
            $currentpx: map-get($gutters, $breakpoint);
        }
    }
}

// single block, used within .container. The padding here is the other half of expected padding between sections
.element {
    $currentpx: 0;
    @each $breakpoint, $px in $mq-breakpoints {
        @if $px == null {
            padding: px2rem(map-get($gutters, $breakpoint));
            $currentpx: map-get($gutters, $breakpoint);
        } @else if $currentpx != map-get($gutters, $breakpoint) {
            @include mq($until: $breakpoint) {
                padding: px2rem(map-get($gutters, $breakpoint));
            }
            $currentpx: map-get($gutters, $breakpoint);
        }
    }
}

.center { margin: 0 auto; }
.relative { position: relative; }
.absolute { 
    position: absolute; 
    left: 0;
    top: 0;
}

// elements without a max width
.full-wrap {
    max-width: initial;
    width: 100%;
}

// set a max-width for any box elements
.box-max-width {
    max-width: px2rem($max-content-width);
}

// xs, sm, md, lg, xl Box Sizing
/* box sizing, with media queries */
@each $breakpoint, $px in $mq-breakpoints {
    @if $px == null {
        @for $i from 1 through 12 {
            .box-#{$breakpoint}-#{$i} {
                width: (100% / 12) * $i;
                @extend .box-max-width;
            }            
        }
        /* display & hide only at certain widths */
        .hide-#{$breakpoint} {
            display: none;
            visibility: none;
            max-height: 0;
            max-width: 0;
            overflow: hidden;
        }
        .show-#{$breakpoint} {
            display: block;
            max-width: none;
            max-height: none;
            overflow: initial;
            visibility: visible;    
        }
    } @else  {
        @include mq($until: $breakpoint) {
            @for $i from 1 through 12 {
                .box-#{$breakpoint}-#{$i} {
                    width: (100% / 12) * $i;
                }
            }
            /* display & hide only at certain widths */
            .hide-#{$breakpoint} {
                display: none;
                visibility: none;
                max-height: 0;
                max-width: 0;
                overflow: hidden;
            }
            .show-#{$breakpoint} {
                display: block;
                max-width: none;
                max-height: none;
                overflow: initial;
                visibility: visible;    
            }
        }        
    }
}

// Coloring
.primary { color: $primary; }
.secondary { color: $secondary; }
.tertiary { color: $tertiary; }
.white { color: $white; }
.black { color: $black; }
.light-grey { color: $light-grey; }
.mid-grey { color: $mid-grey; }
.dark-grey { color: $dark-grey; }

.primary-bg { background-color: $primary; }
.secondary-bg { background-color: $secondary; }
.tertiary-bg { background-color: $tertiary; }
.white-bg { background-color: $white; }
.black-bg { background-color: $black; }
.light-grey-bg { background-color: $light-grey; }
.mid-grey-bg { background-color: $mid-grey; }
.dark-grey-bg { background-color: $dark-grey; }
