/*
Header styles
*/

@import 'mixins';

header {
	.upper-nav {
		font-size: px2rem(f(h6));
		
		a {
			color: $mid-grey;
		}

		.upper-links {
			@include yep(flexbox) {
				justify-content: flex-end;
			}
			@include nope(flexbox) {
				text-align: right;
			}
			li {
				display: inline;
			}
		}
	}
	
    
}