/*
Header styles
*/

@import 'variables';
@import 'mq';
@import 'mixins';

header {
	.upper-nav {
		font-size: px2rem(f(h6));
		font-weight: 300;

		.upper-links {
			text-align: right;
			li {
				display: inline;
			}
		}
	}
	
    
}