/*
Variables, used across Sass files
*/

// Note: for this project, switching from framework's "mobile-first" approach,
// to "desktop-first", given design constraints. See ../notes.md for more info

// Media Query Breakpoints
$mq-breakpoints: (
    xl: null,
    lg: 1200px,
    md: 900px,
    sm: 640px,
    xs: 480px,
) !default;

// Max width for containers (use .full-wrap instead of .container for full-width elements)
$max-content-width: 1200px;

// Typography
$base-font-size: 16px !default;

// Broken down into nested sass maps to define media query font sizes
$font-sizes: (
    h1: (xl: 72px, lg: 66px, md: 42px, sm: 36px, xs: 24px),
    h2: (xl: 42px, lg: 66px, md: 42px, sm: 36px, xs: 24px),
    h3: (xl: 30px, lg: 30px, md: 24px, sm: 20px, xs: 20px),
    h4: (xl: 24px, lg: 20px, md: 20px, sm: 18px, xs: 18px),
    h5: (xl: 18px),
    h6: (xl: 12px),
    p: (xl: $base-font-size),    
);

// Colors
$white: #fff;
$light-grey: #eee;
$mid-grey: #777;
$dark-grey: #333;
$black: #000;
$primary: #ec1c23;
$secondary: #ec1c23;
$white-transparent: rgba(255,255,255,0.2);
$white-semi-transparent: rgba(255,255,255,0.7);

// Styling
$fast-transition: 0.1s all linear;
$std-transition: 0.3s all ease;
$slow-transition: 1.25s all ease;

$fast-transition-delay: 0.1s;
$std-transition-delay: 0.2s;

$small-base-shadow: 1px 1px 2px -1px $black;
$small-hover-shadow: 1px 1px 7px -1px $black;
$base-shadow: 2px 2px 12px -3px $black;
$hover-shadow: 2px 2px 20px -3px $black;

// Structure
// Padding
// currently keeping padding the same across devices
// if any padding *is* changed, a media query is automatically added for both .container and .element at that size
$gutters: (
    xl: 10px,
    lg: 10px,
    md: 10px,
    sm: 10px,
    xs: 10px
);

// Z-index levels
$z-bottom: 1;
$z-lower: 10;
$z-mid: 20;
$z-upper: 30;
$z-top: 100;

// Keep track of current $from & $until values for mq mixin
$currentFrom: false;
$currentUntil: false;
