<div class="carousel">
    <nav class="carousel-nav">
        <i class="icon-left-open"></i>
        <ul>
            <li data-slide-nav="1">
                <div>
                    <p>Lorem <span class="primary">Ipsum</span></p>
                    <div class="image-wrapper">
                        <img src="img_responsive/banner-image1-1200.jpg" alt="SpotBot in the home">
                    </div>
                </div>
            </li>
            <li data-slide-nav="2">
                <div>
                    <p>Lorem Ipsum <span class="primary">Dolores Sunt</span></p>
                    <div class="image-wrapper">
                        <img src="img_responsive/banner-image2-1200.jpg" alt="Lorem Ipsum">
                    </div>
                </div>
            </li>
            <li data-slide-nav="3">
                <div>
                    <p>Lorem Ipsum <span class="primary">Dolores Sunt</span></p>
                    <div class="image-wrapper">
                        <img src="img_responsive/banner-image3-1200.jpg" alt="Placeholder Image">
                    </div>
                </div>
            </li>
            <li data-slide-nav="4">
                <div>
                    <p>Lorem <span class="primary">Ipsum</span></p>
                    <div class="image-wrapper">
                        <img src="img_responsive/banner-image3-1200.jpg" alt="Placeholder Image">
                    </div>
                </div>
            </li>
        </ul>
        <i class="icon-right-open"></i>
    </nav>
    <section class="slide active" data-slide="1">
        <img src="img_responsive/banner-image1-1200.jpg" alt="SpotBot in the home">
        <div class="slide-plate">
            <h4>Featured Product</h4>
            <h1>The SpotBot Proheat</h1>
            <p>Proin dui nibh, luctus eu facilisis lacinia, venenatis eget erat no cobius.</p>
            <a href="#" class="button-link">
                <button class="flat">
                    <i class="icon-right-dir"></i><span>Learn More</span>
                </button>
            </a>
        </div>
    </section>
    <section class="slide" data-slide="2">
        <img src="img_responsive/banner-image2-1200.jpg" alt="Healthy Environment">
        <div class="slide-plate">
            <h4>Our Vacuums Use Less Energy &amp; Resources</h4>
            <h1>Earth Friendly Products</h1>
            <p>Proin dui nibh, luctus eu facilisis lacinia, venenatis eget erat no cobius.</p>
            <a href="#" class="button-link">
                <button class="flat">
                    <i class="icon-right-dir"></i><span>Learn More</span>
                </button>
            </a>
        </div>
    </section>
    <section class="slide" data-slide="3">
        <img src="img_responsive/banner-image3-1200.jpg" alt="Placeholder Image">
        <div class="slide-plate">
            <h4>Placeholder Intro Text</h4>
            <h1>Another Headline</h1>
            <p>Proin dui nibh, luctus eu facilisis lacinia, venenatis eget erat no cobius.</p>
            <a href="#" class="button-link">
                <button class="flat">
                    <i class="icon-right-dir"></i><span>Learn More</span>
                </button>
            </a>
        </div>
    </section>
    <section class="slide" data-slide="4">
        <img src="img_responsive/banner-image3-1200.jpg" alt="Placeholder Image">
        <div class="slide-plate">
            <h4>Some Text Intro</h4>
            <h1>The Final Headline</h1>
            <p>Proin dui nibh, luctus eu facilisis lacinia, venenatis eget erat no cobius.</p>
            <a href="#" class="button-link">
                <button class="flat">
                    <i class="icon-right-dir"></i><span>Learn More</span>
                </button>
            </a>
        </div>
    </section>
</div> <!-- /.carousel-wrapper -->