<div class="highlighted-links">
    <section class="link-card container">
        <a href="#">
            <h2 class="element">Find a Perfect Match</h2>
            <div class="image-wrapper">
                <img src="img_responsive/couch-hair-480.jpg" alt="Vacuuming Couch">
            </div> 
        </a>
    </section>
    <section class="link-card container">
        <a href="#">
            <h2 class="element">Pet Lovers Love Bissell</h2>
            <div class="image-wrapper">
                <img src="img_responsive/home-dog-couch-480.jpg" alt="Bright Living Room">
            </div> 
        </a>
    </section>
    <section class="link-card container">
        <h2 class="element">Get Help</h2>
        <ul class="help-list">
            <li>
                <a href="#">
                    <i class="icon-right-dir circle-icon"></i><span>Technical Support</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-right-dir circle-icon"></i><span>User Guides</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-right-dir circle-icon"></i><span>Troubleshooting</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="icon-right-dir circle-icon"></i><span>Register Product</span>
                </a>
            </li>
        </ul>
    </section>
    <section class="link-card container">
        <h2 class="element">Share &amp; Discuss</h2>
        <div class="teaser-comment">
            <div class="image-wrapper">
                <img src="img_responsive/dog-cat-480.jpg" alt="Dog & Cat">
            </div>
            <h5>MrSparkle</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing pendisse...</p>
            <a href="#">[more]</a>
        </div>
    </section>
</div> <!-- /.highlighted-links -->