<footer class="box-xl-12">
    <div class="interaction-links">
        <form action="" class="mailing-list">
            <label for="">Join the Mailing List</label>
            <input type="text">
        </form>
        <div class="twitter-widget">
            
        </div>
        <span class="twitter-link"></span>
        <span class="facebook-link"></span>
    </div>
    <hr>
    <div class="footer-nav">
        <ul class="page-links">
            <li>
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">Products</a>
            </li>
            <li>
                <a href="#">Help Me Choose</a>
            </li>
            <li>
                <a href="#">Community</a>
            </li>
            <li>
                <a href="#">Sitemap</a>
            </li>
            <li>
                <a href="#">Feedback</a>
            </li>
        </ul>
        <div class="info-links">
            <a href="#">Privacy Policy</a>
            <span class="vertical-bar">|</span>
            <a href="#">Site Security</a>
        </div>
    </div>
    <div class="copyright">
        <p>&#169; 2009 BISSELL Homecare Inc. All Rights Reserved</p>
    </div>
</footer>