<header class="full-wrap"> <!-- for full-width background -->
	<div class="wrapper box-xl-12 center"> <!-- to contain above 1200px -->
		<div class="logo-wrapper container box-xl-1">
		    <a href="#">
		        <img src="img_responsive/bissell-logo.png" alt="Bissell Logo">                        
		    </a>
		</div>
		<div class="nav-wrapper wrapper box-xl-11">
			<!-- build:include header/_upper-nav.html -->
			<div class="upper-nav container box"></div>
			<!-- /build -->
			<!-- build:include header/_main-nav.html -->
			<div class="main-nav"></div>
			<!-- /build -->
		</div>
	</div>
</header>