<div class="main-nav wrapper box-xl-12">
    <nav class="box-xl-8">
        <ul class="primary-nav dropdown-parent">
            <li class="element">
                <a href="#">Products</a><i class="icon-down-dir"></i>
                <ul class="secondary-nav dropdown-parent dropdown-child container">
                    <li>
                        <a href="#">
                            <img src="img_responsive/deep-cleaners.png" alt="Deep Cleaners">
                            <p>Deep Cleaners</p>
                        </a>
                        <ul class="tertiary-nav dropdown-child container">
                            <li>
                                <a href="#">
                                    <img src="img_responsive/deep-cleaners.png" alt="Deep Cleaners">
                                    <p>Deep Cleaners</p>
                                </a>    
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img_responsive/deep-cleaners.png" alt="Deep Cleaners">
                                    <p>Deep Cleaners</p>
                                </a>    
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img_responsive/deep-cleaners.png" alt="Deep Cleaners">
                                    <p>Deep Cleaners</p>
                                </a>    
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img_responsive/deep-cleaners.png" alt="Deep Cleaners">
                            <p>Deep Cleaners</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img_responsive/deep-cleaners.png" alt="Deep Cleaners">
                            <p>Deep Cleaners</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="element">
                <a href="#">Find the Perfect Match</a><i class="icon-down-dir"></i>
                <ul class="secondary-nav dropdown-parent dropdown-child container">
                    <li>
                        <a href="#">
                            <img src="img_responsive/deep-cleaners.png" alt="Lorem Ipsum">
                            <p>Lorem Ipsum</p>
                        </a>
                        <ul class="tertiary-nav dropdown-child container">
                            <li>
                                <a href="#">
                                    <img src="img_responsive/deep-cleaners.png" alt="Lorem Ipsum">
                                    <p>Lorem Ipsum</p>
                                </a>    
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img_responsive/deep-cleaners.png" alt="Lorem Ipsum">
                                    <p>Lorem Ipsum</p>
                                </a>    
                            </li>
                            <li>
                                <a href="#">
                                    <img src="img_responsive/deep-cleaners.png" alt="Lorem Ipsum">
                                    <p>Lorem Ipsum</p>
                                </a>    
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img_responsive/deep-cleaners.png" alt="Lorem Ipsum">
                            <p>Lorem Ipsum</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img_responsive/deep-cleaners.png" alt="Lorem Ipsum">
                            <p>Lorem Ipsum</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="element">
                <a href="#">Parts &amp; Accessories</a><i class="icon-down-dir"></i>
                <ul class="secondary-nav dropdown-parent dropdown-child container">
                    <li>
                        <a href="#">
                            <img src="img_responsive/deep-cleaners.png" alt="Lorem Ipsum">
                            <p>Lorem Ipsum</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img_responsive/deep-cleaners.png" alt="Lorem Ipsum">
                            <p>Lorem Ipsum</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="img_responsive/deep-cleaners.png" alt="Lorem Ipsum">
                            <p>Lorem Ipsum</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>            
    </nav>
    <div class="additional-options box-xl-4">
        <div class="option-titles">
            <span class="buy-option">Where to Buy</span>
            <span class="account-option">My Account</span>
        </div>
        <div class="option-inputs">
            <span class="input input--kohana">
                <input class="input__field input__field--kohana" type="text" id="input-29" />
                <label class="input__label input__label--kohana" for="input-29">
                    <i class="icon-location icon icon--kohana"></i>
                    <span class="input__label-content input__label-content--kohana">ZIP Code</span>
                </label>
            </span>
            <form action="" class="account-form">
                <input type="text">
            </form>
        </div>
    </div>
</div><!-- /.container -->