<div class="main-nav wrapper full-wrap"><!-- for full-width background-gradient -->
    <div class="container box-xl-12 center">
        <nav class="box-xl-8">
            <ul class="primary-nav dropdown-parent">
                <li class="logo-wrapper element">
                    <a href="#">
                        <img src="img_responsive/bissell-logo.png" alt="Bissell Logo">                        
                    </a>
                </li>
                <li class="element">
                    <a href="#">Products</a><i class="icon-down-dir"></i>
                    <ul class="secondary-nav container dropdown-parent">
                        <li>
                            <a href="#">
                                <img src="img_responsive/deep-cleaners.png" alt="Deep Cleaners">
                                <p>Deep Cleaners</p>
                            </a>
                            <ul class="tertiary-nav container">
                                <li>
                                    <a href="#">
                                        <img src="img_responsive/deep-cleaners.png" alt="Deep Cleaners">
                                        <p>Deep Cleaners</p>
                                    </a>    
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img_responsive/deep-cleaners.png" alt="Deep Cleaners">
                                        <p>Deep Cleaners</p>
                                    </a>    
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="img_responsive/deep-cleaners.png" alt="Deep Cleaners">
                                        <p>Deep Cleaners</p>
                                    </a>    
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img_responsive/deep-cleaners.png" alt="Deep Cleaners">
                                <p>Deep Cleaners</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img_responsive/deep-cleaners.png" alt="Deep Cleaners">
                                <p>Deep Cleaners</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="element">
                    <a href="#">Find the Perfect Match</a><i class="icon-down-dir"></i>
                    <ul class="secondary-nav container">
                        
                    </ul>
                </li>
                <li class="element">
                    <a href="#">Parts &amp; Accessories</a><i class="icon-down-dir"></i>
                    <ul class="secondary-nav container">
                        
                    </ul>
                </li>
            </ul>            
        </nav>
        <div class="additional-options box-xl-4">
            <div class="option-titles">
                <span class="buy-option">Where to Buy</span>
                <span class="account-option">My Account</span>
            </div>
            <div class="option-inputs">
                <form action="" class="buy-form">
                    <input type="text">
                </form>
                <form action="" class="account-form">
                    <input type="text">
                </form>
            </div>
        </div>
    </div><!-- /.container -->
</div><!-- /.main-nav.wrapper.full-wrap -->