<div class="upper-nav wrapper box-xl-12 center">
    <ul class="upper-links wrapper box-xl-6">
        <li class="element">
            <a href="#">Home</a>
        </li>
        <li class="element">
            <a href="#">Customer Support</a>
        </li>
        <li class="element">
            <a href="#">About Us</a>
        </li>
    </ul>
    <ul class="language-selector container box-xl-3">
        <li class="box-xl-12 selected" data-language="en-US">
            <a class="element" href="#">
                <span class="flag-icon flag-icon-us"></span>
                <span>English</span>                                      
            </a>
        </li>
        <li class="box-xl-12" data-language="es-MX">
            <a class="element" href="#">
                <span class="flag-icon flag-icon-mx"></span>
                <span>Español</span>                        
            </a>
        </li>
        <li class="box-xl-12" data-language="zh-CN">
            <a class="element" href="#">
                <span class="flag-icon flag-icon-cn"></span>
                <span>中文</span> 
            </a>
        </li>
    </ul>
    <form action="#" class="search box-xl-3">
        <span class="input input--hideo box-xl-3">
            <input class="input__field input__field--hideo" type="text" placeholder="Search" id="search-input"/>
            <label class="input__label input__label--hideo" for="search-input">
                <i class="icon-search icon icon--hideo"></i>
                <span class="input__label-content input__label-content--hideo">Search</span>
            </label>
        </span>
        <span class="search-submit">
            <button type="submit"><i class="icon-right-dir"></i></button>
        </span>
    </form>
</div><!-- /.upper-nav -->